
# Created by https://www.toptal.com/developers/gitignore/api/dotnetcore
# Edit at https://www.toptal.com/developers/gitignore?templates=dotnetcore

### DotnetCore ###
# .NET Core build folders
Authentication/Basics/bin/
Authentication/IdentityExample/bin/
Authentication/Basics/obj/
Authentication/IdentityExample/obj/
Authentication/Server/bin/
Authentication/Server/obj/
Authentication/Client/bin/
Authentication/Client/obj/
Authentication/.vs/

# Common node modules locations
/node_modules
/wwwroot/node_modules

# End of https://www.toptal.com/developers/gitignore/api/dotnetcore
/Authentication/API/bin/Debug/netcoreapp3.1
/Authentication/API/obj
/Authentication/ApiOne/bin/Debug/netcoreapp3.1
/Authentication/ApiOne/obj
/Authentication/ApiTwo/bin/Debug/netcoreapp3.1
/Authentication/ApiTwo/obj
/Authentication/IdentityServer/bin/Debug/netcoreapp3.1
/Authentication/IdentityServer/obj
/Authentication/MvcClient/bin/Debug/netcoreapp3.1
/Authentication/MvcClient/obj
