<h1>Home Page</h1>

<script src="https://cdnjs.cloudflare.com/ajax/libs/oidc-client/1.11.3/oidc-client.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="~/main.js"></script>


<button onclick="signIn()">SignIn</button>

<div>
    <button onclick="callApi()">Call Api</button>
</div>


<div>
    <button onclick="signOut()">Sign Out</button>
</div>



