<h1>Sign Page</h1>


<script>
    var userManager = new Oidc.userManager();

    userManager.singinCallback().then(res => {
        console.log(res);
        window.location.href = 'home/index';
    })
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/oidc-client/1.11.3/oidc-client.js"></script>