<h1>Home Page</h1>

@*Forma simple*@
@if (User.Identity.IsAuthenticated)
{
    <h1>Authenticated</h1>
}
else
{
    <h1>Not Authenticated</h1>
}

@*Forma avanzada*@
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService authorizationService

@if ((await authorizationService.AuthorizeAsync(User, "Claim.DoB")).Succeeded)
{
    <h1>User has DoB Claim</h1>
}